@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.grid-header {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  background-color: #ff4838;
}

.grid-item {
  font-size: 15px;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .grid-item {
    font-size: 25px;
  }
}

@media screen and (min-width: 1500px) {
  .grid-item {
    font-size: 30px;
  }
}

.header-borders {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #162b32 10%, #ff4838 90%);
}

#profile-pic {
  width: auto;
  height: auto;
  border: 2px solid #ff4838;
  margin-top: 5em;
  margin-bottom: 4%;
  justify-content: center;
  max-width: 100%;
}

@media screen and (min-width: 700px) {
  #profile-pic {
    margin-top: 10.5em;
  }
}

@media screen and (min-width: 971px) {
  #profile-pic {
    margin-top: 8em;
  }
}

#quote {
  font-family: "Montserrat", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  justify-content: center;
  font-size: 0.75em;
}

@media screen and (min-width: 500px) {
  #quote {
    font-size: 1em;
  }
}

@media screen and (min-width: 650px) {
  #quote {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 975px) {
  #quote {
    font-size: 2em;
  }
}

@media screen and (min-width: 1300px) {
  #quote {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1600px) {
  #quote {
    font-size: 3.1em;
  }
}

#github-icon {
  fill: #181717;
}

#github-icon:hover {
  fill: sandybrown;
}

#linkedin-icon {
  fill: #0a66c2;
}

#linkedin-icon:hover {
  fill: sandybrown;
}

#email-icon {
  fill: #0078d4;
}

#email-icon:hover {
  fill: sandybrown;
}

#twitter-icon {
  fill: #1da1f2;
}

#twitter-icon:hover {
  fill: sandybrown;
}

.grid-projects {
  display: grid;
  grid-template-areas:
    "title  title"
    "project1 project2"
    "project3 project4";
  gap: 5%;
  margin-bottom: 30%;
}

@media (max-width: 700px) {
  .grid-projects {
    grid-template-areas:
      "title"
      "project1"
      "project2"
      "project3"
      "project4";
    gap: 3%;
  }
}

.projects__title {
  grid-area: title;
}

.projects__poke {
  grid-area: project1;
}

.projects__product-landing {
  grid-area: project2;
}

.projects__tribute {
  grid-area: project3;
}

.projects__survey {
  grid-area: project4;
}

a:hover {
  color: sandybrown;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column-flex {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
}

.project {
  background: gray;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project-tile {
  display: flex;
  margin: auto;
  height: 200px;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .project-tile {
    width: 400px;
    height: 300px;
  }
}

@media screen and (min-width: 600px) {
  .project-tile {
    width: 400px;
    height: 300px;
  }
}

@media screen and (min-width: 1100px) {
  .project-tile {
    width: 500px;
    height: 300px;
  }
}

@media screen and (min-width: 1400px) {
  .project-tile {
    width: 600px;
    height: 350px;
  }
}

@media screen and (min-width: 1700px) {
  .project-tile {
    width: 750px;
    height: 400px;
  }
}

ul {
  list-style: none;
}

svg {
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 550px) {
  svg {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1500px) {
  svg {
    width: 75px;
    height: 75px;
  }
}

a {
  font-family: "Oswald", Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  color: white;
}

a,
img {
  width: auto;
  height: auto;
  align-items: center;
}

footer {
  font-family: "Oswald", Georgia, "Times New Roman", Times, serif;
  background-color: #ff4838;
  border-top: 4px solid white;
  padding-bottom: 2%;
  margin-top: 80%;
}

@media screen and (min-width: 500px) {
  footer {
    margin-top: 60%;
  }
}

@media screen and (min-width: 701px) {
  footer {
    margin-top: 10%;
  }
}

body {
  background-color: #162b32;
}

h1 {
  font-family: "Damion", Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 550;
  display: flex;
  flex-wrap: nowrap;
  font-size: 150%;
  color: white;
  justify-content: center;
  margin-bottom: 10%;
  padding: 0% 3% 0% 3%;
  font-size: 2.5em;
  line-height: 1em;
  border: 3px solid #ff4838;
  text-align: center;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 5em;
    line-height: 2em;
  }
}
/* p on desktop was 1.5em might want to check this!*/
p {
  font-size: 1em;
  color: white;
  font-family: "Oswald", Georgia, "Times New Roman", Times, serif;
}

@media screen and (min-width: 700px) {
  p {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 1400px) {
  p {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1700px) {
  p {
    font-size: 1.75em;
  }
}

table,
th,
td {
  border: 1px solid #ff4838;
  color: white;
  font-family: "Oswald", Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
}

table {
  margin: 5% 0% 5% 0%;
  height: 30em;
  width: 100%;
}

h2 {
  font-family: "Damion", Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 550;
  color: white;
  font-size: 2em;
  line-height: 1em;
  text-align: center;
  border: 3px solid #ff4838;
}
@media screen and (min-width: 700px) {
  h2 {
    font-family: "Damion", Georgia, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 550;
    color: white;
    font-size: 4em;
    line-height: 2em;
    text-align: center;
    border: 3px solid #ff4838;
  }
}

h3 {
  font-family: "Oswald", Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 550;
  color: white;
  font-size: 1.75em;
  text-align: center;
  text-decoration: underline;
}

@media screen and (min-width: 700px) {
  h3 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1400px) {
  h3 {
    font-size: 2.25em;
  }
}

@media screen and (min-width: 1600px) {
  h3 {
    font-size: 2.5em;
  }
}
